.allMessagesPage {
    max-width: 100%;
    min-height: 100vh;
    /* height: 823px; */
    background-color: rgba(25, 39, 74, 1);
    padding: 20px;

    .logo-container {
        position: absolute;
        z-index: 10;
        top: 0;
        width: 74px;
        height: auto;
        /* background-color: yellow; */

        .logo {
            width: 100%;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 1.8rem;
}

.pencilImg-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

