.postMessagePage {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(25, 39, 74, 1);
    padding: 20px;
    position: relative;

    .logo-container {
        position: absolute;
        top: 0;
        left: 5%;
        width: 74px;
        height: auto;
        /* background-color: yellow; */

        .logo-img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}